@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    box-sizing: border-box;
    top: 0;
    z-index: 1000;
}

header img {
    width: 130px;
    height: 40px;
}

header div:nth-child(1) {
    width: 78%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

header nav {
    width: 250px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 400px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    color: blue;
}

header div span:nth-child(1) {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}

header .user {
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-around;
}

header .user img {
    border-radius: 50%;
    width: 40px;
}

header .user p {
    color: #fff;
    font-weight: bold;
}

#sec1 {
    background-image: linear-gradient(#c074b2, #8ab5e8, #000);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sec1 div:nth-child(1) {
    width: 380px;
    color: #fff;
}

#sec1 div:nth-child(1) small {
    font-weight: bold;
}

#sec1 div:nth-child(1) h1 {
    font-size: 80px;
}

#sec1 div:nth-child(1) h1 + p{
    font-size: 24px;
    font-weight: bold;
    width: 300px;
}

#sec1 div:nth-child(1) button {
    background-color: #1DB954;
    padding: 20px 32px;
    border-radius: 500px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    width: 300px;
    margin: 32px 0;
    cursor: pointer;
}

#sec1 div:nth-child(1) button:hover {
    background-color: #22da62;
}

#sec2 {
    padding: 128px 250px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #2c5e92 0%, #552f6d 80%);
}

#sec2 #content {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

#sec2 h1 {
    position: relative;
    top: -50px;
    margin: auto;
    font-size: 48px;
    color: #fff;
}

#albums {
    display: flex;
    flex-wrap: wrap;
    width: 770px;
    justify-content: space-around;
    height: min-content;
}

#albums img {
    margin-bottom: 16px;
    width: 240px;
    height: 240px;
}

.artist {
    background-color: #9d9df033;
    width: 440px;
    position: relative;
    height: 230px;
}

.music {
    background-color: #9d9df033;
    width: 440px;
    position: relative;
    height: 230px;
}

.artist p:nth-child(1) {
    margin-left: -6px;
    width: 150px;
    background-color: rgba(30, 50, 100, 0.5);
    position: relative;
    top: 16px;
    text-align: center;
    padding: 4px 4px;
    font-size: 12px;
    color: #fff;
    opacity: 1;
}

.artist p:nth-child(2) {
    background-color: #1E3264;
    display: inline-block;
    width: 250px;
    font-size: 24px;
    font-weight: bold;
    margin-left: -16px;
    padding: 10px 12px 10px 29px;
    z-index: 100;
    position: inherit;
    top: 32px;
    color: #fff;
}

.artist a {
    position: absolute;
    left: 24px;
    bottom: 80px;
    color: greenyellow;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 12px;
}

.artist a:hover {
    color: #6fb900;
}

.artist img {
    width: 240px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -10px;
    margin-top: -28px;
}

/*  */

.music p:nth-child(1) {
    margin-left: -6px;
    width: 150px;
    background-color: rgba(30, 50, 100, 0.5);
    position: relative;
    top: 16px;
    text-align: center;
    padding: 4px 4px;
    font-size: 12px;
    color: #fff;
    opacity: 1;
}

.music p:nth-child(2) {
    background-color: #1E3264;
    display: inline-block;
    width: 250px;
    font-size: 24px;
    font-weight: bold;
    margin-left: -16px;
    padding: 10px 12px 10px 29px;
    z-index: 100;
    position: inherit;
    top: 32px;
    color: #fff;
}

.music a {
    position: absolute;
    left: 24px;
    bottom: 80px;
    color: greenyellow;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 12px;
}

.music a:hover {
    color: #6fb900;
}

.music img {
    width: 240px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -10px;
    margin-top: -28px;
}

#sec3 {
    padding: 100px 200px;
}

#sec3 h1 {
    font-size: 48px;
}

#sec3 h1 + div {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

#sec3 .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    width: 33.33%;
}

#sec3 .item p {
    line-height: 1.5;
}

#sec3 .item a {
    letter-spacing: 1.5px;
    color: #1DB954;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

footer {
    background-color: #000;
    padding: 64px 200px 0px 200px;
}

footer p {
    color: #fff;
}

footer img {
    width: 130px;
    height: 40px;
}

footer nav a {
    display: flex;
    flex-direction: column;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a img {
    width: 40px;
}

footer .links-pai {
    display: flex;
    width: 1000px;
    margin: auto 0 auto 128px;
    justify-content: space-around;
    margin-top: -20px;
    /* padding: 64px 200px 0px 200px; */
}

.links {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.links p {
    font-size: 12px;
    color: #919496;
    font-weight: bold;
}

.links nav {
    display: flex;
    flex-direction: column;
}

.links nav a {
    margin: 16px 0;
    text-align: left;
}

.links nav a:last-child {
    margin: 16px 0px 0px 0px;
}

footer .redes nav {
    display: flex;
    width: 150px;
    justify-content: space-between;
}

.last-div {
    background-color: #000;
    position: relative;
    box-sizing: border-box;
    bottom: 0;
    width: 50%;
    font-size: 12px;
}

.last-div nav {
    display: flex;
    justify-content: space-around;
    padding: 128px 0 50px 0;
}

.last-div a {
    color: #919496;
}

.last-div a:hover {
    color: #1DB954;
}